{% extends "dashboard.html" %}
{% block dashboard_ui %}
<div class="row">
{% if studentlist %}
    <div class="col-md-6 col-centered">
        <table class="table table-hover">
            <thead><tr><th>Name</th><th>Email</th><th></th></tr></thead>
            <tbody>
            {% for student in studentlist %}
                <tr>
                    <td><b>{{ student.name }}</b></td>
                    <td>{{ student.email }}</td> 
                    <td><a href="/dashboard/edit/{{ student.link }}/">Edit scores</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
</div>
{% endblock dashboard_ui %}
