{% extends "base.html" %}
{% block wrapper %}
<div class="col-xs-8 col-centered">

<h4>Edit scores: {{ data['student'] }} (Term {{ data['term'] }})</h4>

<p>Click on the headings to access deeper levels of the rubric</p>

<form method="POST">
    <div id="score-adder-accordian" role="tablist" aria-multiselectable="true">
        {% for criteria in data['rubric_headers'] %}
        <div class="card">
            <div class="card-header" role="tab" id="{{ criteria }}-head">
                <h5 class="mb-0">
                    <span data-toggle="collapse" data-parent="#score-adder-accordian" href="#{{ criteria }}-collapse" aria-expanded="true" aria-controls="{{ criteria }}-collapse">
                        {{ data['name_map'][criteria] }}
                    </span>
                </h5>
            </div>

            <div id="{{ criteria }}-collapse" class="collapse" role="tabpanel" aria-labelledby="{{ criteria }}-head">
                <div class="card-block">
                    {%- for L1 in sorted(data['graph'][criteria]) -%}
                    <!-- {{ L1 }} -->
                    <div class="form-group row">
                        <label class="col-sm-10 col-form-label col-form-label-lg"
                            for="mc-{{ criteria }}-{{ L1 }}-inp-l1">
                            <span href="#{{ L1 }}-collapse" data-toggle="collapse"
                                aria-expanded="false" aria-controls="{{ L1 }}-collapse">
                                {{ data['name_map'][L1] }}
                            </span>
                        </label>
                        <div class="col-sm-2">
                            <input class="form-control form-control-lg"
                                type="number" min="0" max="3"
                                value="{{ data['scores'][L1] }}"
                                name="{{ L1 }}" 
                                id="mc-{{ criteria }}-{{ L1 }}-inp-l1">
                        </div>
                    </div>
                    <div class="collapse" id="{{ L1 }}-collapse">
                        {% for L2 in sorted(data['graph'][L1]) %}
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label class="col-sm-9 col-form-label"
                                for="mc-{{ criteria }}-{{ L2 }}-inp-l2">
                                <span href="#{{ L2 }}-collapse"
                                    data-toggle="collapse" aria-expanded="false"
                                    aria-controls="{{ L2 }}-collapse">
                                    <b>{{ data['name_map'][L2] }}</b>
                                </span>
                            </label>
                            <div class="col-sm-2">
                                <input class="form-control"
                                    type="number" min="0" max="3" 
                                    value="{{ data['scores'][L2] }}"
                                    name="{{ L2 }}" 
                                    id="mc-{{ criteria }}-{{ L2 }}-inp-l2">
                            </div>
                        </div>
                        <div class="collapse" id="{{ L2 }}-collapse">
                            {% for skill in sorted(data['graph'][L2]) %}
                            <div class="form-group row">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-9 col-form-label col-form-label-sm"
                                    for="mc-{{ criteria }}-{{ skill }}-inp-l3">
                                    {{ data['name_map'][skill] }}
                                </label>
                                <div class="col-sm-2">
                                    <input class="form-control form-control-sm"
                                        type="number" min="0" max="3"
                                        value="{{ data['scores'][skill] }}"
                                        name="{{ skill }}"
                                        id="mc-{{ criteria }}-{{ skill }}-inp-l3">
                                </div>
                            </div>
                            {%- endfor -%}
                        </div>
                        {%- endfor -%}
                    </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock wrapper %}
