{% extends "base.html" %}
{% block wrapper %}
<div class="col-xs-8 col-centered">
<div class="card">
    <div class="card-header">
        Core Theme
    </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="card-block">
            <div class="form-group row">
                <h4 class="card-title"><label for="example-number-input" class="col-xs-9 col-form-label">Peace</label></h4>
                <div class="col-xs-3">
                    <input class="form-control form-control-lg" type="number" id="example-number-input" min="1" max="3">
                </div>
            </div>

            <div class="input-group row" data-parent="foo">
                <b><label for="example-number-input" class="col-xs-10 col-form-label">Understands the principles of Peace, Conflict, and Violence</label></b>
                <div class="col-xs-2">
                    <input class="form-control" type="number" id="example-number-input" min="1" max="3">
                </div>
            </div>

            <div class="input-group row" data-parent="foo">
                <div class="col-xs-1"></div>
                <label for="example-number-input" class="col-xs-9 col-form-label">
                    Identifies and understands theories and conceptual schemes of Peace, Conflict, and Violence.
                </label>
                <div class="col-xs-2">
                    <input class="form-control form-control-sm" type="number" id="example-number-input" min="1" max="3">
                </div>
            </div>

            <div class="input-group row" data-parent="foo">
                <div class="col-xs-1"></div>
                <label for="example-number-input" class="col-xs-9 col-form-label">
                    Uses theories and conceptual schemes to define and approach issues of Peace, Conflict, and Violence.
                </label>
                <div class="col-xs-2">
                    <input class="form-control form-control-sm" type="number" id="example-number-input" min="1" max="3">
                </div>
            </div>

            <div class="input-group row" data-parent="foo">
                <b><label for="example-number-input" class="col-xs-10 col-form-label">Responds to Conflict</label></b>
                <div class="col-xs-2">
                    <input class="form-control" type="number" id="example-number-input" min="1" max="3">
                </div>
            </div>


            <div class="input-group row" data-parent="foo">
                <div class="col-xs-1"></div>
                <label for="example-number-input" class="col-xs-9 col-form-label">
                    Introduction to Engaging and Transforming Conflict
                </label>
                <div class="col-xs-2">
                    <input class="form-control" type="number" id="example-number-input" min="1" max="3">
                </div>
            </div>


            <div class="input-group row" data-parent="foo">
                <b><label for="example-number-input" class="col-xs-10 col-form-label">Non-Violence in Theory and Practice</label></b>
                <div class="col-xs-2">
                    <input class="form-control" type="number" id="example-number-input" min="1" max="3">
                </div>
            </div>

            <div class="input-group row" data-parent="foo">
                <div class="col-xs-1"></div>
                <label for="example-number-input" class="col-xs-9 col-form-label">
                    Identifies and uses non-violence theories and conceptual schemes to define and approach issues of Peace, Conflict, and Violence.
                </label>
                <div class="col-xs-2">
                    <input class="form-control" type="number" id="example-number-input" min="1" max="3">
                </div>
            </div>

            <div class="input-group row" data-parent="foo">
                <div class="col-xs-1"></div>
                <label for="example-number-input" class="col-xs-9 col-form-label">
                    Understands the applications of different non-violence approaches.
                </label>
                <div class="col-xs-2">
                    <input class="form-control" type="number" id="example-number-input" min="1" max="3">
                </div>
            </div>
        </div>
    </li>
  </ul>
</div>
</div>
<!-- ADDSCORES.HTML TEST STRING -->
{% endblock wrapper %}
