{% extends "base.html" %}
{% block wrapper %}
    <div class="page-header"> 
        <h1>Welcome to your Dashboard!</h1>
        
        <p>You will now be able to do whatever you should be able to do.
        Use the links below or click on  your username on the top right to
        begin doing whatever it is that you should be doing.</p>
    </div>

    <ul class="nav nav-pills" role="tablist">
        {% if session['acctype'] == 'FAC' %}
        <!-- FACULTY ACCOUNT ACTIONS -->
        <li role="presentation"><a href="{{ url_for('dashboard') }}students/">Student list</a></li>
        <li role="presentation"><a href="{{ url_for('dashboard') }}edit/">Edit student scores</a></li>
        <li role="presentation"><a href="{{ url_for('dashboard') }}view/">View student scores</a></li>
        <li role="presentation"><a href="{{ url_for('dashboard') }}generate/">Generate transcripts</a></li>
        {% elif session['acctype'] == 'STU' %}
        <!-- STUDENT ACCOUNT ACTIONS -->
        <li><a href="{{ url_for('dashboard') }}view/">View scores</a></li>
        <li><a href="{{ url_for('dashboard') }}generate/">Generate transcript</a></li>
        {% endif %}
    </ul>

<!-- DASHBOARD.HTML TEST STRING -->
{% endblock wrapper %}
