{% extends "base.html" %}
{% block wrapper %}
    <div class="row">
        <h2>Mission Control Dashboard</h1>
        <p class="lead">
            The links below (and on the top right dropdown) provide access to
            actions available to your account type. You are logged in as a <b>
            {% if session['acctype'] == 'STU' %}
            student
            {% elif session['acctype'] == 'FAC' %}
            faculty
            {% else %}
            guest
            {% endif %}
            </b>
        </p>
        <div class="btn-group" role="group" aria-label="Dashboard actions">
          {% if session['acctype'] == 'FAC' %}
        <!-- FACULTY ACCOUNT ACTIONS -->
        <button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('dashboard') }}students/';">Student list</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('dashboard') }}edit/';">Edit student scores</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('dashboard') }}view/';">View student scores</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('dashboard') }}generate/';">Generate transcripts</button>
        {% elif session['acctype'] == 'STU' %}
        <!-- STUDENT ACCOUNT ACTIONS -->
        <button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('dashboard') }}view/';">View scores</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('dashboard') }}generate/';">Generate transcript</button>
        {% endif %}
        </div>
    </div>

    <ul class="nav nav-pills" role="tablist">
        
    </ul>

<!-- DASHBOARD.HTML TEST STRING -->
{% endblock wrapper %}
