{% extends "bootstrap.html" %}

{% block styles %}
<link href="/static/css/mission-control-index.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="/static/js/trianglify.min.js"></script>
<script>
    $(document).ready(function(){
        var masthead = document.getElementById('mc-body');
        var dimensions = masthead.getClientRects()[0];
        var pattern = Trianglify({
            width: window.innerWidth,
            height: window.innerHeight,
            variance: 1.0,
            cell_size: 100,
            x_colors: ['#de6328', '#741669', '#de6328'],
            y_colors: 'match_x',
            color_function: false
        });
        masthead.style['background-image'] = 'url(' + pattern.png() + ')';
        masthead.style['background-position'] = 'center center';
    });
    </script>

    {% if error %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#loginModal').modal('show');
        });
    </script>
    {% endif %}
{% endblock %}

{% block body %}
<div class="site-wrapper">
        <div class="site-wrapper-inner">

            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <nav class="nav nav-masthead">
                            {%- if session['logged_in'] -%}
                            <a  class="nav-link" href="/dashboard/">Dashboard</a>
                            <a  class="nav-link" href="/logout/">Logout</a>
                            {%- else -%}
                            <a  class="nav-link" href="#" 
                                data-toggle="modal" data-target="#loginModal">Login</a>
                            {%- endif -%}
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Welcome to Mission Control</h1>
                    <p class="lead">
                        <b>Mission Control</b> is a transcript generation system
                        for the Mahindra Project Based Diploma.
                    </p>
                    <p class="lead">
                        {%- if session['logged_in'] -%}
                        <button type="button" class="btn btn-secondary btn-lg"
                            onclick="location.href = {{ url_for('dashboard') }};">
                            Dashboard
                        </button>
                        {%- else -%}
                        <button type="button" class="btn btn-secondary btn-lg"
                            data-toggle="modal" data-target="#loginModal">
                            Login
                        </button>
                        {%- endif -%}
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p><b>Mission Control</b> was created by
                        <a href="www.github.com/abhikpal/">Abhik Pal</a>
                        for UWC Mahindra College. The source code is available on
                        <a href="www.github.com/muwci/mission-control">Github</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal {% if not error %}fade{% endif %}" id="loginModal"
        tabindex="-1" role="dialog"
        aria-labelledby="loginLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h5 class="modal-title">Login</h5>
                </div>

                <div class="modal-body">
                    {% if error %}
                    <div class="alert alert-{{ error.type }}">
                        <b>{{ error.title }}</b> {{ error.content }}
                    </div>
                    {% endif %}
                    <form action="/" method="post">
                        <div class="form-group">
                            <label for="inputEmail">Username</label>
                            <input  type="email"
                                    id="inputEmail"
                                    class="form-control"
                                    placeholder="example@muwci.net" required autofocus
                                    name="useremail">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input  type="password"
                                    id="inputPassword"
                                    class="form-control"
                                    placeholder="password"
                                    required name="password">
                        </div>
                         <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input">
                              Remember me
                            </label>
                          </div>
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
