{% extends "base.html" %}
{% block wrapper %}
    <div class="jumbotron">
        <h2><strong>Feature missing!</strong></h2>
        <p>This feature has not been implemented yet. Please come back later.</p>
        <p>
            If you think you shouldn't be seeing this page, please open an issue on 
            <a href="http://github.com/uwcindia/mission-control/">Github</a> or 
            write an email to <a href="mailto:abhikp@muwci.net">abhikp@muwci.net</a>
        </p> 
    </div>
    <!-- automated_test_string: missing_feature -->
{% endblock wrapper %}
