{% extends "base.html" %}
{% block wrapper %}
{% if scores %}
    <div class="row">
        <div class="col-md-10 col-centered">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Core Theme</th>
                    </tr>
                </thead>
                {% for cnum, score in scores %}
                    {% if len(cnum) == 2 %}
                    <tr>
                        <td>{{ name_map[cnum] }}</td> 
                        <td>{{ score }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <p>
            <button onclick="location.href='/dashboard/generate/'" type="button"
                class="btn btn-primary" disabled>
                Download
            </button>
            
            <button onclick="location.href='/dashboard/rubric/'" type="button"
                class="btn btn-primary" disabled>
                View Rubric
            </button>
            
            {% if session['acctype'] == 'FAC' %}
            <button onclick="location.href='/dashboard/'" type="button"
                class="btn btn-link">
                Back to student list
            </button>
            {% endif %}
        </p>
    </div>
{% endif %}
{% endblock wrapper %}
