<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if title %}
        {{ title }} | Mission Control
      {% else %}
        Welcome to Misison Control
      {% endif %}
    </title>
  </head>

  <body style="width:500px; margin:auto;">
    <div style="padding=10px; background-color: rgb(200, 100, 0);">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <b> The server sent the following messages: </b>
        <ul>
          {% for message in messages %}
            <li> {{ message }} </li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
    </div>

    <header>
      <h1> Mission Control </h1>
      <h2> An online management system for the Mahindra Project Based Diploma. </h2>

      <nav>
        <span><a href="/">Home</a></span> /
        <span><a href="/about">About</a></span> /
        <span><a href="/login">Login</a></span>
      </nav>

      <br> 
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer style="margin-top: 100px">
      <hr>
      August 2016. Abhik Pal.
    </footer>
  </body>
 </html>
